:root {
  --background: #FFFFFF;
  --background-dark: #EEEEEE;
  --text: #707070;
  --text-light: #C9C9C9;
  --title: #000000;
  --highlight: #0090FF;
  --highlight-light: #B3E5FC;
  --dropdown-arrow: #555555;
  --border: 1px solid var(--text);
  --radius: 6px;
  --semi-bold: 600;
  --bold: 700;
  --md: 1024px;
  --sm: 768px;
}