main {
  max-width: calc(1720px + 32px);
  padding: 0 16px;
  margin: 0 auto;

  h1 {
    margin-top: 51px;
    margin-bottom: 41px;
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--text);
  }

  .sorting-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .results {
      font-size: 16px;
      color: var(--title);
    }
  }
}